<?xml version="1.0"?>
<config>
    <modules>
        <Mage_WEBCASH>
            <version>1.8.0</version>
        </Mage_WEBCASH>
    </modules>
    <global>
        <models>
            <webcash>
                <class>Mage_WEBCASH_Model</class>
            </webcash>
        </models>
        <helpers>
            <webcash>
                <class>Mage_WEBCASH_Helper</class>
            </webcash>
        </helpers>
        <blocks>
            <webcash>
                <class>Mage_WEBCASH_Block</class>
            </webcash>
        </blocks> 
        <resources>
            <webcash_setup>
                <setup>
                    <module>Mage_WEBCASH</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </webcash_setup>
            <webcash_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </webcash_write>
            <webcash_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </webcash_read>
        </resources>
        <routers>
            <checkout>
                <rewrite>
                    <multishipping>
                        <to>webcash/multishipping/overviewpost</to>
                        <override_actions>false</override_actions>
                        <actions>
                              <overviewPost>
                                  <to>webcash/multishipping/overviewpost</to>
                              </overviewPost>
                        </actions>
                    </multishipping>
                </rewrite>
            </checkout>
        </routers>
    </global>
    <frontend>
        <secure_url>
            <webcash_paymentmethod>/webcash/paymentmethod</webcash_paymentmethod>
        </secure_url>
        <routers>
            <webcash>
                <use>standard</use>
                <args>
                    <module>Mage_WEBCASH</module>
                    <frontName>webcash</frontName>
                </args>
            </webcash>
        </routers>
        <translate>
            <modules>
                <Mage_WEBCASH>
                    <files>
                        <default>Mage_WEBCASH.csv</default>
                    </files>
                </Mage_WEBCASH>
            </modules>
        </translate>
    </frontend> 
    <default>
        <payment>
            <webcash>
                <model>webcash/paymentmethod</model>
                <active>1</active>
                <order_status>1</order_status>
                <title>WEBCASH Malaysia Online Payment Gateway (Visa, Master Card, Maybank2u, FPX, etc)</title>
                <!--<cgiurl></cgiurl>-->
                <debug>0</debug>
                <!--<email_customer>0</email_customer>-->
                <login></login>
                <!--<merchant_email></merchant_email>-->
                <paymentdescription><![CDATA[You will be redirected to Webcash website when you place an order.<br>Supported Secured Online Payment: <br><img src='https://webcash.com.my/images/webcash-securepay-wocex2.png' >]]></paymentdescription> 
                <encrytype>md5</encrytype>
                <!--<test>1</test>-->
                <transkey></transkey>
                <allowspecific>0</allowspecific>
                <testmode>0</testmode>
            </webcash>
        </payment>
    </default>
</config>